<h1>Visualizer</h1>
<p>Find me in app/views/visualize/index.html.erb</p>

<p> The Data Goes Below Here </p>

<% @visualize.each do |viz| %>

 <div><%= viz['station_descriptive_name'] %></div>

<% end %>


